.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  background: var(--bg);
}

.header {
  visibility: hidden;
  height: 150px;
}

.main {
  width: 700px;
  color: var(--main-700);
  font-size: var(--font-sm);
  line-height: var(--font-sm-height);
  text-underline-offset: 3.5px;
  letter-spacing: 0.5px;
}
