html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --bg: #fafafa;

  --main-50: #fafafa;
  --main-100: #f4f4f5;
  --main-200: #e4e4e7;
  --main-300: #d4d4d8;
  --main-400: #a1a1aa;
  --main-500: #71717a;
  --main-600: #52525b;
  --main-700: #3f3f46;
  --main-800: #27272a;
  --main-900: #18181b;

  --font-tiny: 0.7rem;
  --font-sm: 0.875rem;
  --font-m: 1rem;
  --font-lg: 1.125rem;

  --font-tiny-height: 1rem;
  --font-sm-height: 1.25rem;
  --font-m-height: 1.5rem;
  --font-lg-height: 1.75rem;

  --font-bold: 600;
}

[data-theme="dark"] {
  --bg: #18181b;

  --main-50: #18181b;
  --main-100: #27272a;
  --main-200: #3f3f46;
  --main-300: #52525b;
  --main-400: #71717a;
  --main-500: #a1a1aa;
  --main-600: #d4d4d8;
  --main-700: #e4e4e7;
  --main-800: #f4f4f5;
  --main-900: #fafafa;

  --font-tiny: 0.7rem;
  --font-sm: 0.875rem;
  --font-m: 1rem;
  --font-lg: 1.125rem;

  --font-tiny-height: 1rem;
  --font-sm-height: 1.25rem;
  --font-m-height: 1.5rem;
  --font-lg-height: 1.75rem;

  --font-bold: 600;
}
