@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-black: #404040;
  --text-gray: #808080;

  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;

  --font-semibold: 500;
}

[data-theme="dark"] {
  --text-black: #404040;
  --text-gray: #808080;

  --font-sm: 12px;
  --font-md: 14px;
  --font-lg: 16px;

  --font-semibold: 500;
}

body {
  border-radius: 10px;
  color: var(--text-black);
  font-size: var(--font-md);
}
